    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Orbitron', sans-serif;
    }
    
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    
    .clock {
        background: black;
        height: 50%;
        width: 90%;
        line-height: 120px;
        text-align: center;
        padding: 0 5px;
        margin: 0 auto;
        margin-top: 140px;
        border: 5px solid cyan;
        border-radius: 5px;
    }
    
    .clock .display {
        font-size: 35px;
        color: aquamarine;
        letter-spacing: 5px;
        font-weight: bolder;
        position: relative;
        top: 90px;
    }
    
    .YCD {
        font-size: 35px;
        color: aquamarine;
        letter-spacing: 5px;
        font-weight: bolder;
        position: relative;
        top: 30px;
        left: 170px;
    }