*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

h1{
    position: absolute;
    margin-bottom: 30%;
    color: black;
    text-align: center;
    font-size: 30px;
}

body{
    background-image: url(./black-wallpaper-to-set-as-background-28.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horloge{
    position: relative;
    margin: auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url(./clock.png);
    background-size: cover;
    border: solid;
    border-color: gray;
    border-width: 10px;
}
.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top;
    border-radius: 2px;

}
.hour-hand{
    width: 4px;
    height: 20%;
    background-color: black
}
.min-hand{
    width: 2px;
    height: 35%;
    background-color: black
}
.second-hand{
    width: 1px;
    height: 40%;
    background-color: red;
}

