*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

h1{
    position: absolute;
    margin-bottom: 30%;
    color: black;
    text-align: center;
    font-size: 30px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horloge{
    position: relative;
    margin: auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url(./clock.png);
    background-size: cover;
    border: solid;
    border-color: gray;
    border-width: 5px;

    
}
.horloge::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top;
    border-radius: 2px;

}
.hour-needl{
    width: 4px;
    height: 20%;
    background-color: black
}
.min-needl{
    width: 4px;
    height: 35%;
    background-color: black
}
.second-needl{
    width: 2px;
    height: 40%;
    background-color: red;
}

